.profile {
  display: flex;
  float: right;
  cursor: pointer;
}

.profile > * {
  align-items: center;
}

.profile > * > * {
  margin-left: 10px;
  margin-right: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-content {
  height: unset !important
}

.dropdown-content > li {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.justify-contents-center {
  justify-content: center
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}