#container{
    margin: 0px;
    padding: 0px;
    align-content: center;
}
#menu{
    width: 100%;
    height: 100px;
    border: 2px black solid;
    margin: 5px;
}
#title{
 
}
.rad{
    display: none;
}
.rooms{
    width: 98%;
    background: gray;
    height: auto;
    margin: 2px;
    float: left;
    border: 2px orange solid;
    background: gray;
}

.contents{
    margin: 0px;
    padding: 0px;
    height: 350;
    overflow-y: auto;
}
.units{
    float: left;
    width: 32%;
    height: 400;
    margin: 5px;
    border: 2px black solid;
    padding: 0px;
    
}
.top{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px orange solid;
    text-align: center;
    width: 100%;
}